.login {
    min-height: calc(100vh - var(--headerHeight));
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__plate__title {
    font-size: 2rem;
    font-weight: 300;
}

.login__plate__text {
    margin: 0.5rem 0 3rem 0;
}

.login__plate__title, .login__plate__text {
    text-align: center;
}
